.default-style {
    color: black;
    font-size: 16px;
    
}

.additional-style {
    background-color:lightpink;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    margin-top: 20px;
    padding: 20px;
}
.extra-style a{
    text-decoration: none;
    display:flex;
    flex-direction: column;
    justify-content: left;
    gap:20px;
    color: black;
}

